#about {
  font-size: 17pt;
  line-height: 34px;
}

#bio {
  overflow: hidden;
  margin: 60px 0px;
}

header {
  z-index: 1;
}

.link {
  color: limegreen!important;
}

.front {
  z-index: 1;
}


.intro {
  padding-left: 10px;
}

.intro-item {
  float: none;
  margin-left: 0px;
  width: 100%;
}

.intro-item p {
  opacity: 0;
}

.fadeIn p {
  animation-timing-function:ease;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}



@-webkit-keyframes fadeInLeft {
  0% {
     opacity: 0;
     -webkit-transform: translateX(-100px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}



@media(max-width: 1080px) {
  #headshot {
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50%;
    width: 70%;
    margin-bottom: 60px;
  }

  #desc {
      text-align:center;
  }
}
