#about {
  font-size: 17pt;
  line-height: 34px;
}

#bio {
  overflow: hidden;
  margin: 60px 0px;
}

header {
  z-index: 1;
}

.link {
  color: limegreen!important;
}

.front {
  z-index: 1;
}

@media(max-width: 1080px) {
  #headshot {
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50%;
    width: 70%;
    margin-bottom: 30px;
  }
}
