* {
  font-family: 'Rubik', sans-serif;
}

@font-face {
  font-family: 'Rubik';
  src: url("fonts/rubik/rubik-regular.ttf");
}

@font-face {
  font-family: 'Poppins Bold';
  src: url("fonts/poppins/poppins-bold.ttf");
}

@font-face {
  font-family: 'Poppins Medium';
  src: url("fonts/poppins/poppins-medium.ttf");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins Bold', sans-serif!important;
}

ul {
  list-style: none;
}

a {
  color: black!important;
  text-decoration: none!important;
}

a:hover {
  text-decoration: none!important;
}

.title {
  text-align: center;
  font-size: 48pt;
  margin-top: 100px;
}

header {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: white;
}

#footer {
  margin: 50px 0px;
}

@media(max-width: 1080px) {
  .title {
    font-size: 32pt!important;
  }

  #footer {
    text-align:center;
    margin: 30px 0px!important;
  }
}
